//remove after

.Background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.Background::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.5), transparent 50%, rgba(0, 0, 0, 0.5));
}

// bugfix.. remove after
body {
  background: linear-gradient(to right,
          rgba($leftbgColor,1) 0%,
          rgba($leftbgColor,1) 50%,
          rgba($basefontColor,0) 50%,
          rgba($basefontColor,0) 100%);
}
.about__me {

  &__section {
    max-width: 27.625rem;
    margin: 0 auto;
    position: relative;
  }
  &__title_bgr {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -9rem;
    margin-top: -3rem;
    fill: rgba(28, 62, 29, 0.12);
  }
  &__pic {
    background: $bgcolor url('../img/george-melidis.jpg') center no-repeat;
    background-size: cover;
    margin-bottom: 1rem;
    &:before {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
    & img {
      display: none;
    }

  }

}
