.header {

  &__page {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.36)), url(../img/water-bgr.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    //height: 32vh; enable after
    overflow: hidden;
  }
  &__top {
    margin: 1.3rem 1rem;
  }
  &__menu_top {
    width: 60px;
    height: 45px;
    position: relative;
    margin: 50px auto;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;

    span {
      display: block;
      position: absolute;
      height: 9px;
      width: 100%;
      background: #d3531a;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .25s ease-in-out;

      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 18px;
      }
      &:nth-child(3) {
        top: 36px;
      }
    }
    &.open span:nth-child(1) {
      top:18px;
      transform: rotate(135deg);
    }
    &.open span:nth-child(2) {
      opacity: 0;
      left: -60px;
    }
    &.open span:nth-child(3) {
      top:18px;
      transform: rotate(-135deg);
    }



  }
  &__main {
    &:before {
      content: "";
      position: absolute;
      background: url(../img/blog_header.svg) no-repeat;
      top: 14rem;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0.10;
      width: 300px;
      height: 210px;
    }
  }
  &__footer {
    background: url('../img/bg.svg') top no-repeat;
    background-size: cover;
    height: 28vh;
    position: relative;

    &_btn-down {
      position: absolute;
      left: 50%;
      top: 5rem;
      transform: translateX(-50%);
    }
  }
}
.header__auth__btn {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: none;
  padding: 10px 25px;
  margin-top: 30px;
  transition: color .3s, background-color .3s;
  cursor: pointer;
  &:hover {
    border-color: $colorActive;
    background-color: $colorActive;
  }
}

