.section{
}
.works {
  &__section {
    position: relative;

    &_slider {
      height: 100vh;
      min-height: 600px;
    }
  }

  &__title_bgr {
    transform: translate(-50%, -50%) scale(1.68);
    position: absolute;
    top: 0;
    left: 50%;
    width: inherit;
    height: inherit;
    margin-top: 1rem;
    fill: rgba(28, 62, 29, 0.12);
  }
}
.testimonials {
  position: relative;
  padding: 5rem 0;
  background: $firstColor url(../img/form-bgr.png) center bottom;
  background-size: cover;

  &__body {
    max-width: 50rem;
    margin: 0 auto;
    padding: 0 1.25rem;

  }
  &_title {
    position: relative;
  }
  &__wrap {
    font-size:0;
    margin-bottom: 3rem;
  }
  &__block{
    display: inline-block;
    width: 50%;
    padding: 0 0.8rem 2rem;
    vertical-align: top;
    font-size: 1rem;
  }
  &__content {

  }
  &__avatar {
    width: 4.875rem;
    height: 4.875rem;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
  }
  &__content {
    font-style: italic;
  }
  &__person {
    text-align: center;
  }
  &__name{
    font-weight:bold;
    color: $colorActive;
  }
  &__desc {

  }

}
.contact__form {
  @extend .profile;
  margin: auto;
  &_footer {
    font-size: 0;
  }
}

.form {
  &-row {
  }
  &-item {
    display: inline-block;
    width: 50%;
    border-right: 1px solid white;
    &:last-child {
      border-right: 0;
    }
  }
  &-input {
    @extend .login__form__input__group;
    outline: none;
    width: 100%;
    padding-left: 1.5rem;
    height: 2.81rem;
    transition: background-color .2s;
    background-color: rgba(white, 0.85);
    border: 0;
    &:focus {
      background-color: white;
    }
  }
  &-textarea {
    @extend .form-input;
    padding-top: 1rem;
    height: 8.75rem;
  }
  &-button {
    @extend .profile__menu__link;
    cursor: pointer;
    border: 0;
    font-size: 1rem;
  }
}
