-
    var usrData = {
        profileName:    'Юрий Мелидис',
        profileTitle:   'Личный сайт разработчика',
        profileImg:     './assets/img/george-melidis.jpg',
        profileSocials: [
            {
                link:   'https://vk.com/temeteron',
                title:  'Vkontakte',
                icon:   'vk'
            },{
                link:   'http://github.com/twopix',
                title:  'GitHub',
                icon:   'github'
            },{
                link:   'https://gr.linkedin.com/in/melidis',
                title:  'LinkedIn',
                icon:   'in'
            }
        ],
        profileMenu:    [
            {
                link:   '#works',
                title:  'Мои работы'
            },{
                link:   '#about',
                title:  'Обо мне'
            },{
                link:   'blog.html',
                title:  'Блог'
            }
        ],
        profileAuth:    'Авторизоваться',
        authMenu:       [
            {
                link:   '/',
                title:  'На главную'
            },{
                link:   '#!submit',
                title:  'Войти'
            }
        ],
        authorize:      'Авторизуйтесь',
        login:          'Логин',
        password :      'Пароль',
        iHuman:         'Я человек',
        areYouHuman:    'Вы точно не робот?',
        yes:            'Да',
        no:             'Нет',
        pagesTitles:    {
            blog:       'Блог',
            blogSbt:    'Статьи, которые я написал',
            portfolio:  'Мои работы',
            about:      'Обо мне'
          },



    }