-
    var usrData = {
        profileName:    'Юрий Мелидис',
        profileTitle:   'Личный сайт разработчика',
        profileImg:     './assets/img/george-melidis.jpg',
        profileSocials: [
            {
                link:   'https://vk.com/temeteron',
                title:  'Vkontakte',
                icon:   'vk'
            },{
                link:   'http://github.com/twopix',
                title:  'GitHub',
                icon:   'github'
            },{
                link:   'https://gr.linkedin.com/in/melidis',
                title:  'LinkedIn',
                icon:   'in'
            }
        ],
        profileMenu:    [
            {
                link:   '#',
                title:  'Мои работы'
            },{
                link:   '!',
                title:  'Обо мне'
            },{
                link:   '!',
                title:  'Блог'
            }
        ],
        profileAuth:    'Авторизоваться'

    }