footer
    .main__page__footer.clearfix
        .span3 test
        .span3 test2
        .span3  tesa33


    .footer
        .footer_copyright © Юрий Мелидис | Создано с любовью в LoftSchool | 2016

.preloader
    .preloader__spinner
        .preloader__animation
        .preloader__percents 0%
