header.header.header__page
    .header__top.clearfix
        .header__socials.fl-left
            +social('profile__socials', usrData.profileSocials)
        .header__menu.fl-right
            a.header__menu_top
                span
                span
                span
            +nav('header__menu-nav', usrData.profileMenu,10)
    .header__main
        .profile__avatar_round
            img(src=`${usrData.profileImg}`).profile__avatar__pic
        h1.page__title= usrData.pagesTitles.blog
        h3.page__subtitle= usrData.pagesTitles.blogSbt
    .header__footer.clearfix
        span.header__footer_btn-down
            a(href="#main").page__next_btn
                +icon('portf_arrow_down')
