header.header
    .social
        ul.social__list
            li.social__vk VK
            li.social__git Github
            li.social__lnk LinkedIn
    nav.menu
        ul.nav_menu
            li
                a Мои работы
            li
                a Обо мне
            li
                a Блог
