footer {
  width: 100%;
  &.footer {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer_copyright {
    color: #fff;
    text-align: center;
  }
}
.page .footer{
  background-color: $secondColor;
}
