footer {
  width: 100%;
  height: 80px;
  &.footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer_copyright {
    color: #fff;
    text-align: center;
  }
}
