// fonts
$basefont: "Roboto Regular", sans-serif;
$secondfont: "Roboto Medium", sans-serif;
$basefontBold: "Roboto Bold", sans-serif;
$basefontLight: "Roboto Light", sans-serif;
$titlefont: "Sansus Webissimo Regular", sans-serif;

//colors
$bgcolor:       #fbf8f1;
$basefontColor: #fff;
$textColor:     #455a64;
$colorActive:   #4e8839;
$firstColor:    #6c9c5a;
$secondColor:   #4e8839;
$titleColor:    #fff;
$footerbgColor: #373e42;



//mediaqueries
$desktop: 1200px;
$laptop:  992px;
$tablet: 768px;
$mobile: 480px;

//set to desktop first!
@include breakpoint-set('default feature', max-width);