section.mainbox.profile
    .profile__avatar_round
        img(src="./assets/img/george-melidis.jpg").profile__avatar__pic
    h1.profile__name Юрий Мелидис
    h2.profile__title Личный сайт разработчика
    .profile__socials

