extends ../_template

block variables
  - var title = 'Юрий Мелидис | Личный сайт разработчика'

block content
  section.profile#homeBlock
    .profile__home
      include ../blocks/_mainbox
    .profile__login
      include ../blocks/_auth
