extends ../_template_pages

block variables
    - var title = usrData.profileName
    - var subtitle = usrData.profileName
    - var tagline = usrData.profileTitle

block content
    .works__section
        h1.page__title.page__title_black.center= usrData.pagesTitles.portfolio
        +icon('works_header','works__title_bgr')

    //slider section
    include ../blocks/slider.pug


block content_footer
    include ../blocks/testimonials.pug

